#avatar-modal{
  .modal-body{
    height: 300px;
    margin: 10px 0px;
    input{
      margin-bottom: 20px;
    }
    p{
      margin-top: 27px;
    }
  }
  .avatars-wrap{
    overflow: scroll;
    height: 184px;
    .avatar-wrap{
      margin-bottom: 10px;
      img{
        width: 100%;
        border: 13px solid black;
      }
    }
  }
}