@import "variables";

.dropdown-menu{
  .fa-star{
    color: $green
  }
  a{
    padding: 0px !important;
  }
  .nav-dropdown-username{
    padding-left: 0px;
  }
}

@media screen and (max-width: 992px){
    form.login{
        width: 100% !important;
        border-right: none !important;
    }
    .wc-social-login.form-row-wide{
        float: none !important;
    }
}