@import "variables";

.dropdown-menu{
  width: 300px;
  .fa-star{
    color: $green
  }
  a{
    padding: 0px !important;
  }
  .nav-dropdown-username{
    padding-left: 0px;
  }
}

.dropdown-avatar-img{
  width: 76px;
  max-width: none;
}

.active-class{
  color: #3396d1
}

.active-border{
  border-color: #3396d1 !important;
}



@media screen and (max-width: 992px){
    form.login{
        width: 100% !important;
        border-right: none !important;
    }
    .wc-social-login.form-row-wide{
        float: none !important;
    }
}