.players-content{
  .player-profile-header-text{
    color: white !important;
  }
  .player-page-icon{
    border: 2px solid white;
  }
}

#main{
  background-color: #fff;
}

.choose-rating i{
  font-size: 25px;
}

.review-options{
  .edit-text{
    text-decoration: underline;
  }
}

.review-options:nth-child(1){
  margin-top: 5px;
}

.player-upvote-section{
  margin-top: 10px;
  .vote{
    display: inline-block;
    padding: 5px 15px;
    margin-right: 10px;
    border-radius: 5px;
  }
  .upvote{
    border: 1px solid #77C04B;

  }
  .downvote{
    border: 1px solid #C04B5E
  }
  i{
    font-size: 20px;
  }
  .fa-thumbs-o-up{
    color: #77C04B;
  }
  .fa-thumbs-up{
    color: #fff;
  }
  .fa-thumbs-o-down{
    color: #C04B5E;
  }
  .fa-thumbs-down{
    color: #fff;
  }
}

.voted-up-background{
  background-color: #77c04b !important;
}

.voted-down-background{
  background-color: #C04B5E !important;
}

.listing-cover.content-single-user-hero {
  padding-top: 167px;
}
