.user-profile-container{
  .profile-img{
    width: 200px;
  }
  .review-options:nth-child(1){
    margin-top: 11px;
  }
  .user-profile-reviews, .user-profile-info{
    background-color: white;
    border-radius: 5px;
    padding: 10px 40px;
    margin-top: 20px;
  }
  .user-profile-reviews{
  }
}