<div id="edit-review-modal" class="modal fade bootstrap-modal" data-dismissible="true">
  <div class="modal-content flow-text">
    <h4>Edit Review</h4>
    <div class="modal-body">
      <form name="editReviewForm">
        <div class="input-field">
          <div class='choose-rating' ng-init="hoverRating = 0; editedReview.rating = 0">
            <i class="fa" ng-class="hoverRating < 1 && report.rating < 1 ? 'fa-star-o' : 'fa-star' " ng-mouseover="hoverRating = 1" ng-mouseleave="hoverRating = 0" ng-click="editedReview.rating = 1"></i>
            <i class="fa" ng-class="hoverRating < 2 && editedReview.rating < 2? 'fa-star-o' : 'fa-star' " ng-mouseover="hoverRating = 2" ng-mouseleave="hoverRating = 0" ng-click="editedReview.rating = 2"></i>
            <i class="fa" ng-class="hoverRating < 3 && editedReview.rating < 3 ? 'fa-star-o' : 'fa-star' " ng-mouseover="hoverRating = 3" ng-mouseleave="hoverRating = 0" ng-click="editedReview.rating = 3"></i>
            <i class="fa" ng-class="hoverRating < 4 && editedReview.rating < 4? 'fa-star-o' : 'fa-star' " ng-mouseover="hoverRating = 4" ng-mouseleave="hoverRating = 0" ng-click="editedReview.rating = 4"></i>
            <i class="fa" ng-class="hoverRating < 5 && editedReview.rating < 5 ? 'fa-star-o' : 'fa-star' " ng-mouseover="hoverRating = 5" ng-mouseleave="hoverRating = 0" ng-click="editedReview.rating = 5"></i>
          </div>
          <div class="input-field">
            <input name="message" ng-model="editedReview.message" class="validate" required>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="modal-footer">
    <a href="#!" class="modal-action modal-close waves-effect waves-red btn btn-default " data-dismiss="modal">Cancel</a>
    <a href="#!" class="modal-action modal-close waves-effect waves-green btn btn-default m-r-10" ng-click="updateReview()">Update Review</a>
  </div>
</div>
