<div id="social-oauth-modal" class="modal">
  <div class="modal-content flow-text">
    <h4>Add Social Account</h4>
    <div class="modal-body">
      <%=link_to user_omniauth_authorize_path(:twitter), class: 'social-icon-link', 'ng-show': "providerAvailable('twitter')" do %>
        <i class="fa fa-twitter twitter-background social-account-icon"></i>
      <% end %>
      <%=link_to user_omniauth_authorize_path(:facebook), class: 'social-icon-link', 'ng-show': "providerAvailable('facebook')" do %>
        <i class="fa fa-facebook facebook-background social-account-icon"></i>
      <% end %>
    </div>
  </div>
  <div class="modal-footer">
    <a href="#!" class="modal-action modal-close waves-effect waves-red btn-flat btn btn-default ">Cancel</a>
    <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat btn btn-default m-r-10 " ng-click="setAvatar()">Save</a>
  </div>
</div>
