
<section class="users-container" ng-controller="UsersCtrl">
  <div class="hidden" id="avatar"><%=current_user.avatar%></div>
  <div class="hidden" id="user-id"><%=current_user.id%></div>
      <!-- #masthead -->
      <div id="content" class="site-content">
        <div style="background-image: url(https://demo.astoundify.com/listify/wp-content/uploads/sites/39/2014/10/business-online-marketing-bc981af1f15280d45b29eca12dcab168.jpg);" class="page-cover entry-cover has-image">
          <h1 class="page-title cover-wrapper">My Account</h1>
        </div>
        <nav class="tertiary-navigation" role="navigation">
          <div class="container">
            <a href="#" class="navigation-bar-toggle">
            <i class="ion-navicon-round"></i>
            Tertiary                </a>
            <div class="navigation-bar-wrapper">
              <div class="navigation-bar nav-menu">
                <ul id="menu-tertiary" class="tertiary nav-menu">
                  <li id="menu-item-14493" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-14493">
                      <i class="fa fa-tachometer"></i> Dashboard
                  </li>
                  <li id="menu-item-14493" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-14493">
                      <i class="fa fa-list-alt"></i> Reviews
                  </li>
                  <li id="menu-item-5283" class=" menu-item menu-item-type-post_type menu-item-object-page menu-item-5283">
                    <i class="fa fa-bookmark-o"></i> Bookmarks
                  </li>
                  <li id="menu-item-51" class=" menu-item menu-item-type-custom menu-item-object-custom menu-item-51">
                    <i class="fa fa-cog"></i> Settings
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </nav>
        <!-- dashboard -->
        <user-dashboard></user-dashboard>

      <!-- #content -->
      <div class="footer-wrapper">
        <footer class="site-footer-widgets">
          <div class="container">
            <div class="row">
              <div class="footer-widget-column col-xs-12 col-sm-12 col-lg-5">
                <aside id="text-2" class="footer-widget widget_text">
                  <div class="textwidget">
                    <embed src="https://demo.astoundify.com/listify/wp-content/uploads/sites/39/2014/11/copy-listify-footer-logo.svg" type="image/svg+xml" />
                    <p>
                      At Listify our purpose is to help people find great local businesses like dentists, hair stylists and mechanics. Go Explore!
                    <p>
                      Proudly Made in Canada & USA
                  </div>
                </aside>
              </div>
              <div class="footer-widget-column col-xs-12 col-sm-6 col-lg-3 col-lg-offset-1">
                <aside id="nav_menu-2" class="footer-widget widget_nav_menu">
                  <h4 class="footer-widget-title">About Listify</h4>
                  <div class="menu-need-help-menu-footer-container">
                    <ul id="menu-need-help-menu-footer" class="menu">
                      <li id="menu-item-248" class="ion-help-buoy menu-item menu-item-type-custom menu-item-object-custom menu-item-248"><a href="#">Help Center</a></li>
                      <li id="menu-item-249" class="ion-clipboard menu-item menu-item-type-custom menu-item-object-custom menu-item-249"><a href="https://demo.astoundify.com/listify/terms-of-service/">Terms of Use</a></li>
                      <li id="menu-item-250" class="ion-help-circled menu-item menu-item-type-custom menu-item-object-custom menu-item-250"><a href="https://demo.astoundify.com/listify/about-listify/">About Listify</a></li>
                      <li id="menu-item-251" class="ion-ios-chatbubble menu-item menu-item-type-custom menu-item-object-custom menu-item-251"><a href="https://demo.astoundify.com/listify/blog/">Listify Blog</a></li>
                      <li id="menu-item-252" class="ion-person menu-item menu-item-type-custom menu-item-object-custom menu-item-252"><a href="#">Careers</a></li>
                    </ul>
                  </div>
                </aside>
              </div>
              <div class="footer-widget-column col-xs-12 col-sm-6 col-lg-3">
                <aside id="nav_menu-3" class="footer-widget widget_nav_menu">
                  <h4 class="footer-widget-title">Stay Connected</h4>
                  <div class="menu-social-widget-menu-container">
                    <ul id="menu-social-widget-menu" class="menu">
                      <li id="menu-item-325" class="ion-social-twitter menu-item menu-item-type-custom menu-item-object-custom menu-item-325"><a href="http://twitter.com/astoundify">Twitter</a></li>
                      <li id="menu-item-326" class="ion-social-facebook menu-item menu-item-type-custom menu-item-object-custom menu-item-326"><a href="http://facebook.com/astoundify">Facebook</a></li>
                      <li id="menu-item-327" class="ion-social-googleplus menu-item menu-item-type-custom menu-item-object-custom menu-item-327"><a href="http://google.com">Google+</a></li>
                      <li id="menu-item-328" class="ion-social-instagram-outline menu-item menu-item-type-custom menu-item-object-custom menu-item-328"><a href="http://instagram.com">Instagram</a></li>
                      <li id="menu-item-329" class="ion-social-vimeo menu-item menu-item-type-custom menu-item-object-custom menu-item-329"><a href="http://vimeo.com/astoundify">Vimeo</a></li>
                    </ul>
                  </div>
                </aside>
              </div>
            </div>
          </div>
        </footer>
        <footer id="colophon" class="site-footer" role="contentinfo">
          <div class="container">
            <div class="site-info">
              Copyright Astoundify © 2015. All Rights Reserved
            </div>
            <!-- .site-info -->
            <div class="site-social">
              <div class="menu-social-container">
                <ul id="menu-social" class="nav-menu-social">
                  <li id="menu-item-240" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-240"><a href="http://facebook.com/astoundify">facebook</a></li>
                  <li id="menu-item-241" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-241"><a href="http://twitter.com/astoundify">twitter</a></li>
                  <li id="menu-item-242" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-242"><a href="https://plus.google.com/">google</a></li>
                  <li id="menu-item-244" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-244"><a href="http://instagram.com/">instagram</a></li>
                  <li id="menu-item-246" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-246"><a href="https://vimeo.com/astoundify">vimeo</a></li>
                  <li id="menu-item-8176" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-8176"><a href="http://tumblr.com">tumblr</a></li>
                </ul>
              </div>
            </div>
          </div>
        </footer>
        <!-- #colophon -->
      </div>
</section>

<%= javascript_include_tag 'home' %>
