<div id="deleteReviewModal" class="modal fade" data-dismissible="true">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <a class="close right" href="#"  data-dismiss="modal">
          <i class="mdi-content-clear"></i>
        </a>
        <h4 class="modal-title">Delete Review</h4>
      </div>
      <div class="modal-body">
          <p>Are you sure you want to delete your review for <strong><span ng-bind="player.display_name"></span></strong>?<p>
      </div>
      <div class="modal-footer">
        <button ng-click="deleteReview()" type="button" class="btn btn-default waves-effect waves-light">Delete</button>
      </div>
    </div>
  </div>
</div>
