  <div id="editReviewModal" class="modal fade mt-50" data-dismissible="true">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <a class="close right" href="#"  data-dismiss="modal">
            <i class="mdi-content-clear"></i>
          </a>
          <h4 class="modal-title">Edit Review</h4>
        </div>
        <div class="modal-body">
          <input ng-model="updateReport.message"></input>
          <div class='choose-rating' ng-init="hoverRating = 0; updateReport.rating = 0">
            <i class="fa" ng-class="hoverRating < 1 && updateReport.rating < 1 ? 'fa-star-o' : 'fa-star' " ng-mouseover="hoverRating = 1" ng-mouseleave="hoverRating = 0" ng-click="updateReport.rating = 1"></i>
            <i class="fa" ng-class="hoverRating < 2 && updateReport.rating < 2? 'fa-star-o' : 'fa-star' " ng-mouseover="hoverRating = 2" ng-mouseleave="hoverRating = 0" ng-click="updateReport.rating = 2"></i>
            <i class="fa" ng-class="hoverRating < 3 && updateReport.rating < 3 ? 'fa-star-o' : 'fa-star' " ng-mouseover="hoverRating = 3" ng-mouseleave="hoverRating = 0" ng-click="updateReport.rating = 3"></i>
            <i class="fa" ng-class="hoverRating < 4 && updateReport.rating < 4? 'fa-star-o' : 'fa-star' " ng-mouseover="hoverRating = 4" ng-mouseleave="hoverRating = 0" ng-click="updateReport.rating = 4"></i>
            <i class="fa" ng-class="hoverRating < 5 && updateReport.rating < 5 ? 'fa-star-o' : 'fa-star' " ng-mouseover="hoverRating = 5" ng-mouseleave="hoverRating = 0" ng-click="updateReport.rating = 5"></i>
          </div>
        </div>
        <div class="modal-footer">
          <button ng-click="editReport()" type="button" class="btn btn-default">Edit</button>
        </div>
      </div>
    </div>
  </div>
