<div id="shareReviewModal" class="modal" data-dismissible="true">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <a class="close right" href="#"  data-dismiss="modal">
          <i class="mdi-content-clear"></i>
        </a>
        <h4 class="modal-title">Share Review</h4>
      </div>
      <div class="modal-body">
        <div class="row socials">
          <div class="col s6">
            <a class="btn blue darken-2 z-depth-0 z-depth-1-hover" style="width: 100%"  ng-click="shareReview()">
              <i class="fa fa-2x fa-facebook" style="color: white;"></i>
            </a>
          </div>
          <div class="col s6">
            <a class="btn blue lighten-2 z-depth-0 z-depth-1-hover" href="https://twitter.com/intent/tweet?url=URLTOBESHARED" data-via="ggreported" style="width: 100%" target="_blank">
              <i class="fa fa-2x fa-twitter" style="color: white"></i>
            </a>
          </div>
        </div>


      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>
