<div id="shareReviewModal" class="modal" data-dismissible="true">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <a class="close right" href="#"  data-dismiss="modal">
          <i class="mdi-content-clear"></i>
        </a>
        <h4 class="modal-title">Share Review</h4>
      </div>
      <div class="modal-body">
        <div class="fb-share-button" ng-click="shareReview()" data-layout="button">
        </div>
        <a href="https://twitter.com/share" class="twitter-share-button" data-via="_ggez">Tweet</a>
      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>
