<div class="col s12 l6">
  <div class="card profile-skills">
    <div class="title">
      <h5><i class="fa fa-bookmark"></i>Bookmarks</h5>
    </div>
    <div class="content">
      <ul class="collection clear-b">
        <li ng-if="!user.books">
          You don't have any bookmarks.
        </li>
        <li class="collection-item avatar" dir-paginate="bookmark in user.bookmarks | itemsPerPage: 2" pagination-id="bookmarks">
          <a ng-href="/players/{{bookmark.id}}"><img src="https://s3-us-west-2.amazonaws.com/dynamicowlwendy/profileicon/{{bookmark.icon}}.png" class="circle"/></a>
          <a ng-href="/players/{{bookmark.id}}"> <span class="title" ng-bind="bookmark.display_name"></span></a>
          <div>
            <span ng-bind-template="Region: {{bookmark.region}}"></span> <br>
            <span ng-bind-template="Level: {{bookmark.level}}"></span> <br>
            <span ng-bind-template="Date: {{bookmark.created_at | date: 'MM/dd/yy'}}"></span>
          </div>
          <dir-pagination-controls pagination-id="bookmarks"></dir-pagination-controls>
        </li>
      </ul>
    </div>
  </div>
</div>















<!-- <div id="primary" class="container">
    <div class="content-area">
      <main id="main" class="site-main" role="main">
        <article id="post-4479" class="post-4479 page type-page status-publish has-post-thumbnail hentry not-claimed content-box content-box-wrapper">
          <div class="content-box-inner">
            <div class="entry-content">
              <div class="woocommerce">
                <p>Manage your bookmarks below.</p>
                <table class="job-manager-reviews">
                  <thead>
                    <tr>
                      <th class="" style="width: 30%;">Name</th>
                      <th class="" style="width: 30%;">Region</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr ng-show="!user.bookmarks.length">
                      <td colspan="6">You currently have no bookmarks.</td>
                    </tr>
                    <tr ng-repeat="bookmark in user.bookmarks">
                      <td ng-bind="bookmark.display_name"></td>
                      <td ng-bind="bookmark.region"></td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </article>
      </main>
    </div>
  </div>
</div> -->
