<div id="primary" class="container">
    <div class="content-area">
      <main id="main" class="site-main" role="main">
        <article id="post-4479" class="post-4479 page type-page status-publish has-post-thumbnail hentry not-claimed content-box content-box-wrapper">
          <div class="content-box-inner">
            <div class="entry-content">
              <div class="woocommerce">
                <p class="myaccount_user">
                  Hello <strong ng-bind="user.username"></strong> (not <span ng-bind="user.username"></span>? <a href="/users/sign_out" data-method="delete">Sign Out</a>). From your account dashboard you can view your reviews, manage your account and edit your password and account details</a>.
                </p>
                <div class="wc-social-login-profile">
                  <h2>My Social Login Accounts</h2>
                  <p>Your account is connected to the following social login providers. <a href="#" class="js-show-available-providers">Add more...</a></p>
                  <table class="shop_table shop_table_responsive wc-social-login-linked-profiles">
                    <thead>
                      <tr>
                        <th>Provider</th>
                        <th>Account</th>
                        <th colspan="2">Last login</th>
                      </tr>
                    </thead>
                    <tr>
                      <td data-title="Provider">
                        <span class="social-badge social-badge-facebook"><span class="si si-facebook"></span>Facebook</span>
                      </td>
                      <td data-title="Account">
                        wendyhsu67@hotmail.com
                      </td>
                      <td data-title="Last login">
                        January 11, 2016 @ 6:29 pm
                      </td>
                      <td class="profile-actions">
                        <a href="https://demo.astoundify.com/listify/wc-api/auth/unlink/facebook/?return=https%3A%2F%2Fdemo.astoundify.com%2Flistify%2Fmy-account%2F" class="button unlink-social-login-profile">
                        Unlink          </a>
                      </td>
                    </tr>
                  </table>
                  <div class="wc-social-login-available-providers" style="display:none;">
                    <p>You can link your account to the following providers:</p>
                    <div class="wc-social-login wc-social-login-link-account">
                      <a href="https://demo.astoundify.com/listify/wc-api/auth/twitter/?return=https%3A%2F%2Fdemo.astoundify.com%2Flistify%2Fmy-account%2F" class="button-social-login button-social-login-twitter"><span class="si si-twitter"></span>Link your account to Twitter</a> <a href="https://demo.astoundify.com/listify/wc-api/auth/google/?return=https%3A%2F%2Fdemo.astoundify.com%2Flistify%2Fmy-account%2F" class="button-social-login button-social-login-google"><span class="si si-google"></span>Link your account to Google</a> <a href="https://demo.astoundify.com/listify/wc-api/auth/instagram/?return=https%3A%2F%2Fdemo.astoundify.com%2Flistify%2Fmy-account%2F" class="button-social-login button-social-login-instagram"><span class="si si-instagram"></span>Link your account to Instagram</a>
                    </div>
                  </div>
                </div>
                <h2>My Addresses</h2>
                <p class="myaccount_address">
                  The following addresses will be used on the checkout page by default.
                </p>
                <div class="col2-set addresses">
                  <div class="col-1 address">
                    <header class="title">
                      <h3>Billing Address</h3>
                      <a href="https://demo.astoundify.com/listify/my-account/edit-address/billing" class="edit">Edit</a>
                    </header>
                    <address>
                      Wendy Hsu
                    </address>
                  </div>
                  <div class="col-2 address">
                    <header class="title">
                      <h3>Shipping Address</h3>
                      <a href="https://demo.astoundify.com/listify/my-account/edit-address/shipping" class="edit">Edit</a>
                    </header>
                    <address>
                      You have not set up this type of address yet.
                    </address>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </article>
        <!-- #post-## -->
      </main>
    </div>
  </div>
</div>