<div class="card-panel">
  <table class="profile-info">
    <tbody>
      <tr>
        <td class="photo">
          <a href="#avatar-modal" class="modal-trigger">
            <div>
              <img ng-src="{{user.avatar || '/assets/default-avatar.jpg'}}" class="profile-page-avatar"/>
            </div>
          </a>
        </td>
        <td>
          <h3 ng-bind="user.username"></h3>
          <span>Hello <strong ng-bind="user.username"></strong> (not <span ng-bind="user.username"></span>? <a href="/users/sign_out" data-method="delete">Sign Out</a>).</span>
          <br>
          <span>From your account dashboard you can view your reviews, manage your account and edit your password and account details</a></span>
        </td>
      </tr>
    </tbody>
  </table>
</div>















<!-- <div id="primary" class="container">
    <div class="content-area">
      <main id="main" class="site-main" role="main">
        <article id="post-4479" class="post-4479 page type-page status-publish has-post-thumbnail hentry not-claimed content-box content-box-wrapper">
          <div class="content-box-inner">
            <div class="entry-content">
              <div class="woocommerce">
                <p class="myaccount_user">
                  Hello <strong ng-bind="user.username"></strong> (not <span ng-bind="user.username"></span>? <a href="/users/sign_out" data-method="delete">Sign Out</a>). From your account dashboard you can view your reviews, manage your account and edit your password and account details</a>.
                </p>
                <div class="wc-social-login-profile">
                  <h2>My Profile Photo</h2>
                  <p class="myaccount_address" data-toggle="modal" data-target="#avatar-modal" data-backdrop="static" data-keyboard="false">
                    <img ng-src="{{user.avatar || '/assets/default-avatar.jpg'}}", class= 'profile-photo' />
                  &nbsp; <i class="fa fa-pencil"></i>
                  </p>
                  <h2>My Social Login Accounts</h2>
                  <p>Your account is connected to the following social login providers. <span href="/users/auth/twitter" class="js-show-available-providers" data-toggle="modal" data-target="#social-oauth-modal" ng-if="user.providers.count < 2">Add More.</span></p>
                  <table class="shop_table shop_table_responsive wc-social-login-linked-profiles">
                    <thead>
                      <tr>
                        <th>Provider</th>
                        <th>Account</th>
                        <th colspan="2">Last login</th>
                      </tr>
                    </thead>
                    <tr ng-repeat="provider in user.providers">
                      <td data-title="Provider">
                        <span class="social-badge social-badge-facebook"><span class="si si-{{provider.name}}"></span><span ng-bind="provider.name"></span></span>
                      </td>
                      <td data-title="Account" ng-bind="provider.email || provider.username">
                      </td>
                      <td data-title="Last login" ng-bind="user.last_sign_in_at">
                      </td>
                      <td class="profile-actions">
                        <a href="#" class="button unlink-social-login-profile">
                        Unlink</a>
                      </td>
                    </tr>
                  </table>
                  </div>
                </div>
                <h2>My Info</h2>
                <p class="myaccount_address">
                  <table class="job-manager-reviews">
                    <thead>
                      <th>Username</th>
                      <th>Email</th>
                      <th>Member Since</th>
                    </thead>
                    <tbody>
                      <tr>
                        <td ng-bind="user.username"></td>
                        <td ng-bind="user.email || 'none'"></td>
                        <td ng-bind="user.created_at | date:'MM/dd/yyyy'"></td>
                      <tr>
                    </tbody>
                  </table>
                </p>
                </div>
              </div>
            </div>
          </div>
        </article>
      </main>
    </div>
  </div>
</div>
