<div class="card-panel">
  <table class="profile-info">
    <tbody>
      <tr>
        <td class="photo">
          <a href="#avatar-modal" class="modal-trigger">
            <div>
              <img ng-src="{{user.avatar || '/assets/default-avatar.jpg'}}" class="profile-page-avatar"/>
            </div>
          </a>
        </td>
        <td>
          <h3 ng-bind="user.username"></h3>
          <span>Hello <strong ng-bind="user.username"></strong> (not <span ng-bind="user.username"></span>? <a href="/users/sign_out" data-method="delete">Sign Out</a>).</span>
          <br>
          <span>From your account dashboard you can view your reviews, manage your account and edit your password and account details</a></span>
        </td>
      </tr>
    </tbody>
  </table>
</div>
