<div class="col s12">
  <div class="card profile-skills">
    <div class="title">
      <h5><i class="fa fa-bookmark"></i>Reviews</h5>
      <a class="close" href="#"><i class="mdi-content-clear"></i></a> <a class="minimize" href="#"><i class="mdi-navigation-expand-less"></i></a>
    </div>
    <div class="content" style="max-height: 310px; overflow: auto">
      <ul class="collection clear-b">
        <li class="collection-item avatar" ng-repeat="report in reports">
          <img src="https://s3-us-west-2.amazonaws.com/dynamicowlwendy/profileicon/{{report.player.icon}}.png" class="circle"></i>
          <span class="title" ng-bind="report.player.display_name"></span>
          <div>
            <span ng-bind="report.report.created_at | date: 'MM/dd/yy'"></span> <br>
            <span style="color:#77c04b"><i class="fa" ng-class="report.report.rating < 1 ? 'fa-star-o' : 'fa-star'"></i></span>
            <span style="color:#77c04b"><i class="fa" ng-class="report.report.rating < 2 ? 'fa-star-o' : 'fa-star'"></i></span>
            <span style="color:#77c04b"><i class="fa" ng-class="report.report.rating < 3 ? 'fa-star-o' : 'fa-star'"></i></span>
            <span style="color:#77c04b"><i class="fa" ng-class="report.report.rating < 4 ? 'fa-star-o' : 'fa-star'"></i></span>
            <span style="color:#77c04b"><i class="fa" ng-class="report.report.rating < 5 ? 'fa-star-o' : 'fa-star'"></i></span>
            <br>
            <span ng-bind="report.report.message"></span> <br>
            <div class="clear-b"></div>
            <div>
              <span class="right">
                <i class="fa fa-trash review-action-icon"></i>
                <i class="fa fa-pencil review-action-icon"></i>
              </span>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>












<!-- <div id="primary" class="container">
    <div class="content-area">
      <main id="main" class="site-main" role="main">
        <article id="post-4479" class="post-4479 page type-page status-publish has-post-thumbnail hentry not-claimed content-box content-box-wrapper">
          <div class="content-box-inner">
            <div class="entry-content">
              <div class="woocommerce">
                <p>Moderate your reviews below.</p>
                <table class="job-manager-reviews">
                  <thead>
                    <tr>
                      <th class="" style="width: 20%;">Summoner</th>
                      <th class="" style="width: 50%;">Review</th>
                      <th class="" style="width: 25%;">Rating</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr ng-show="!user.reports.length">
                      <td colspan="6">You currently have no reviews.</td>
                    </tr>
                    <tr ng-repeat="report in reports">
                      <td ng-bind="report.player.display_name"></td>
                      <td ng-bind="report.report.message"></td>
                      <td>
                        <span style="color:#77c04b"><i class="fa" ng-class="report.report.rating < 1 ? 'fa-star-o' : 'fa-star'"></i></span>
                        <span style="color:#77c04b"><i class="fa" ng-class="report.report.rating < 2 ? 'fa-star-o' : 'fa-star'"></i></span>
                        <span style="color:#77c04b"><i class="fa" ng-class="report.report.rating < 3 ? 'fa-star-o' : 'fa-star'"></i></span>
                        <span style="color:#77c04b"><i class="fa" ng-class="report.report.rating < 4 ? 'fa-star-o' : 'fa-star'"></i></span>
                        <span style="color:#77c04b"><i class="fa" ng-class="report.report.rating < 5 ? 'fa-star-o' : 'fa-star'"></i></span>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </article>
      </main>
    </div>
  </div>
</div> -->
