
.hidden {
  display: none;
}

video {
  z-index: 0;
  margin-top: -200px;
  width: 100%;
  position:relative;
  z-index:0
}

.video-overlay {
  background-color: rgba(0, 0, 0, 0.70);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  .text {
    margin: 11em 5em;
    color: white;
    form {
      margin-top: 30px;
    }
  }
}

.navbar-top.navbar-dark {
  background-color: rgba(0, 0, 0, 0.89);
}

header {
  .homepage-cover {
    position: absolute;
    top: 0;
    background-color: transparent!important;
    width: 100%;
  }
  h1.home-widget-title,
  h2.home-widget-description {
    text-align: left;
  }
}
nav {
  .select-wrapper input.select-dropdown,
   input[type=text] {
      height: 3.5rem;
      line-height: 5rem;
  }
  .select-wrapper span.caret {
    color: $pink;
    top: 0;
  }
  li.search-button {
    margin: 24px 20px;
  }
  .nav-wrapper i {
    line-height: 75px;
  }
}

.search_jobs {
  .search_keywords,
  .search_categories,
  .search_button {
    display: inline-block;
    margin-right: 1em;
    width: 10%;
  }
  .search_keywords {
    width: 30%;
  }
  .search_button {
    margin-left: 1%;
  }
  .select-wrapper span.caret {
    color: white;
  }
}

.home-widget-section-title {
  h2 {
    text-align: left;
  }
}

.recent-searches {
  background: rgb(125,126,125);
  background: -moz-radial-gradient(center, ellipse cover, rgba(125,126,125,1) 0%, rgba(14,14,14,1) 69%);
  background: -webkit-radial-gradient(center, ellipse cover, rgba(125,126,125,1) 0%,rgba(14,14,14,1) 69%);
  background: radial-gradient(ellipse at center, rgba(125,126,125,1) 0%,rgba(14,14,14,1) 69%);
  padding-bottom: 33px;
  h4 {
    margin-top: 0;
    margin-bottom: 32px;
    padding-top: 35px;
    color: rgba(255, 255, 255, 0.74);
    text-transform: uppercase;
    font-size: 14px;
  }
  .card {
    background-color: rgba(255, 255, 255, 0.13);
    color: white;
  }
  .contacts {
    .fa {
      line-height: 48px;
    }
  }
  .collection {
    border: none;
    .title h1 {
      font-size: 1em;
      margin: 0;
      color: $pink;
      width: 60%;
    }
    .secondary-content {
      i {
        font-size: 20px;
      }
    }
    .stars-rating {
      span {
        float: right;
      }
      i {
        position: relative;
        font-size: 20px;
        color: $pink;
      }
    }
    .region,
    .badge.new {
      text-transform: uppercase;
      font-weight: bold;
    }
    .badge.new {
      color: #D6D6D6;
      background-color: transparent;
      border: 1px solid #D6D6D6;
    }

    .collection-item {
      &.avatar {
        background-color: rgba(255, 255, 255, 0.13);
        padding-left: 11em;
        border: none;
        p {
          margin: 1.5em 0;
          color: white;
        }
        .circle {
          width: 100px;
          height: 100px;
          top: 25px;
        }
        .elapsed {
          font-size: 14px;
          margin-top: -8px;
          color: grey;
        }
        &:hover {
          background-color: #525252;
          transition-duration: .5s;
          transition-timing-function: ease-out;
        }
      }
    }
  }
}

footer {
  background-color: rgba(0, 0, 0, 0.89);
  height: auto;
  color: #9A9A9A;
  font-size: 10px;
  padding: 3em;
}


@media only screen and (max-width: 940px) {
  .landing {
    video {
      margin-top: 0px;
    }

    .search_jobs {
      .search_keywords {
        width: 65%;
        float: left;
      }
      .search_categories {
        width: 44%;
        float: left;
      }
      .search_button {
        float: left;
      }
    }
  }
  .search-bar.mobile>.layer-content {
    .input-field input{
      font-size: 20px;
    }
    .btn {
      width: 100%;
    }
  }
}

@media only screen and (max-width: 620px) {
  .landing {
    video {
      margin-top: 65px;
    }
    .row .col.s12 {
      padding :0!important;
      margin: 0;
    }
    .video-overlay {
      .text {
        margin: 5em 0 0 5em ;
        h1 {
          font-size: 20px;
        }
        h4 {
          font-size: 16px;
        }
        form {
          margin-top: 0px;
        }
      }
    }
  }
  .recent-searches {
    h4 {
      text-align: center;
    }
  }

}
