@import 'variables.scss';

video {
  z-index: 0;
  margin-top: -269px;
}

.vid-container {
  height: 450px;
}

.video-overlay {
  background-color: rgba(0, 0, 0, 0.70);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  .text {
    margin: 11em 5em;
    color: white;
    form {
      margin-top: 30px;
    }
  }
}

.navbar-top.navbar-dark {
  background-color: rgba(0, 0, 0, 0.89);
}

header {
  .homepage-cover {
    position: absolute;
    top: 0;
    background-color: transparent!important;
    width: 100%;
  }
  h1.home-widget-title,
  h2.home-widget-description {
    text-align: left;
  }
}

.search_jobs {
  .search_keywords,
  .search_categories,
  .search_button {
    display: inline-block;
    margin-right: 1em;
    width: 20%;
  }
  .search_button {
    margin-left: 1%;
  }
  .select-wrapper span.caret {
    color: white;
  }
}

.home-widget-section-title {
  h2 {
    text-align: left;
  }
}

.recent-searches {
  background: $bg;
  padding-bottom: 33px;
  h4 {
    margin-top: 0;
    margin-bottom: 32px;
    padding-top: 35px;
    margin-left: 3em;
    color: $pink;
  }
}

.collection {
  width: 50%;
  margin-left: 4em;
  .title h1 {
    font-size: 1em;
    margin: 0;
    color: $pink;
    width: 60%;
  }
  .secondary-content {
    i {
      font-size: 20px;
    }
  }
  .stars-rating {
    span {
      float: right;
    }
    i {
      position: relative;
      font-size: 20px;
      color: $pink;
    }
  }
  .region,
  .badge.new {
    text-transform: uppercase;
    font-weight: bold;
  }
  .collection-item.avatar {
    padding-left: 11em;
    p {
      margin: 1.5em 0;
    }
    .circle {
      width: 100px;
      height: 100px;
      top: 25px;
    }
    .elapsed {
      font-size: 14px;
      margin-top: -8px;
      color: grey;
    }
  }
}

footer {
  background-color: rgba(0, 0, 0, 0.89);
  color: #9A9A9A;
  font-size: 10px;
  padding: 3em;
}
