video {
  z-index: 0
}

.video-container {
  height: 70%;
  display: block;
  overflow: hidden;
}

.video-overlay {
  background-color: rgba(0, 0, 0, 0.70);
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}

header {
  .homepage-cover {
    position: absolute;
    top: 0;
    background-color: transparent!important;
    width: 100%;
  }
  h1.home-widget-title,
  h2.home-widget-description {
    text-align: left;
  }
}

.search_jobs {
  .search_categories,
  .search_button {
    width: 23%!important;
  }
  .search_button {
    margin-left: 1%;
  }
}

.home-widget-section-title {
  h2 {
    text-align: left;
  }
}

.job_listings .content-box {
  padding: 0;
  .job_listing-entry-header-wrapper {
    width: 100%;
    .job_listing-entry-meta {
      padding: 1em;
      padding-left: 9em;
      h1 {
        font-size: 20px;
      }
      .division {
        float: right;
        background: #555;
        color: white;
        border-radius: 8px;
        padding: 0px 3px;
      }
      .job_listing-location {
        ul {
          list-style: none;
          margin-left: 0;
        }
      }
      .stars-rating {
        span {
          float: right;
        }
        i {
          position: relative;
          margin-right: 19px;
          font-size: 20px;
          color: #FF0144;
          line-height: 0;
        }
      }
    }
  }
}
