@import 'variables.scss';
.user-profile-container{
  .profile-img{
    width: 200px;
  }
  .review-options:nth-child(1){
    margin-top: 11px;
  }
  .user-profile-reviews, .user-profile-info{
    background-color: white;
    border-radius: 5px;
    padding: 10px 40px;
    margin-top: 20px;
  }
  .user-profile-reviews{
  }
}
.user-profile {
  .review-votes {
    a,
    .fa {
      color: $pink;
    }
    a:hover {
      color: $light-grey;
    }
    .collection .collection-item.avatar {
      border-bottom: 1px solid $lighter-grey;
      padding-left: 10em;
    }
    .action-button {
      position: absolute;
      right: 0;
      top: 23;

      .fa {
        color: white;
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .user-profile {
    .review-votes {
      .action-button {
        position: initial;
        display: inline-block;
        padding: 10px;
      }
    }
  }
}
