<%= render template: 'layouts/application' %>
<nav class="navbar-top navbar-dark" ng-cloak>
  <div class="nav-wrapper"><!-- Sidebar toggle -->
    <a href="index.html" class="brand-logo">
      <%= image_tag "ggreported_logo.png" %>
    </a>
    <ul>
       <li class="user">
         <% if !current_user %>
           <%= link_to 'Sign In', new_user_session_path %>
         <% else %>
           <%= link_to 'Sign Out', destroy_user_session_path, method: 'delete' %>
         <% end %>
       </li>
    </ul>
 </div>
</nav>
<aside class="yarbar yay-hide"></aside>
